@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>New Brodcast</h2>

    <form asp-action="Broadcast" method="post" enctype="multipart/form-data">
        <textarea asp-for="Message" placeholder="Say something..."></textarea>
        <input type="file" asp-for="Image" />
        <button type="submit">Broadcast</button>
    </form>


    <hr />

    <h2>Broadcasts</h2>

    @foreach (var broadcast in Model.Broadcasts)
    {
        <p>
            <b>
                @broadcast.User.Name 
                (@broadcast.Published.ToShortDateString() @broadcast.Published.ToShortTimeString())
            </b>:
            @broadcast.Message
        </p>

        @if (!string.IsNullOrEmpty(broadcast.ImageUrl))
        {
            <div>
                <img src="@broadcast.ImageUrl" alt="Broadcast image" width="300" />
            </div>
        }

    }
</div>
